.by_layout{
    width: 100%;
    background: #F3F3F3;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
/* the css of the fixed_header */
.fixed_header {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 40px;
    background-color: #FF0000;
    text-align: center;
    color: #fff;
    position: fixed;
    line-height: 40px;
    z-index: 9999;
}
.header_font {
    position: absolute;
    left: 12px;
    top:4px;
    font-size: 22px;
}
/* the css of the banner picture */
.by_banner{
    width: 100%;
    height: auto;
    background:url('../images/top_banner.png') no-repeat 0 0 /100% auto;
    position: relative;
    

}
.by_banner::after {
    content: "";
    display: block;
    /*图片的宽高比计算得出*/
    padding-top: 55%;
  }
  .by_logo{
      width: 24%;
      height: 43%;
      background: url(../images/shop_logo.png) no-repeat 0 0/ 100% auto;
      position: absolute;
      left: 11%;
      top: 30%;
  }
  .by_logo::after {
    content: "";
    display: block;
    /*图片的宽高比计算得出*/
    padding-top: 100%;
  }
  .by_banner h3 {
      width: 58%;
      position: absolute;
      left: 40%;
      top: 40%;
      font-size: 14px;
      color: #fff;
      letter-spacing:2px;
      font-family: "宋体";
  }
  .by_banner>a{
    position: absolute;
    right: 0%;
    top: 38%;
    color: #fff;
    font-size: 16px;
  }
  .by_tag {
      position:absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20%;
      background:rgba(0, 0,0, 0.1);
  }
  .by_tag >li{
      height: 100%;
      width: 33.3%;
      float: left;
      text-align: center;
      position: relative;
      font-size: 14px;


  }
  .by_tag >li span{
    position: absolute;
    top:0;
    left: 50%;
    color:#fff;
    padding-bottom: 4px;
  }

  .by_tag >li a {
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      padding-top:12%;
  }
  .by_tag >li.bd_before:before{
    content: "";
    width: 2px;
    height: 80%;
    background-color:#C7DCDD;
    position: absolute;
    right: 0%;
    top: 12%;
  }
  /* the css of the navigation */
  .by_nav{
      width: 100%;
      background: #fff;
  }
  .by_nav>ul>li{
      width: 33.3%;
      float: left;
      text-align: center;
      padding: 12px 0;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
  }
  .by_nav>ul>li.active{
      background-color: #F3F3F3;
  }
  .by_nav>ul>li.border{
    border-bottom: none;
  }
  .by_nav>ul>li:nth-child(3n){
    border-right: none;
  }
  .by_nav>ul>li p {
      padding: 2px 0;
  }
  .by_nav>ul>li img {
      width: 36%;
  }
  /*the css of the variable content */
  .by_changing{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 45px;

  }
  .by_changing >ul>li a{
      display: block;
      width: 100%;
      padding-top: 10px;
  }
  .by_changing >ul>li img {
      width: 100%;
  }
  /* the css of the footer  */
  .by_footer {
      position: fixed;
      width: 100%;
      height: 45px;
      background-color:#fff;
      text-align: center;
      bottom: 0;
      max-width: 640px;
      min-width: 320px;
  }
  .by_footer>ul>li{
      width: 25%;
      float: left;
      padding: 5px 0;
  }
  .by_footer>ul>li p {
      padding: 2px 0;
  }
  .by_footer>ul>li.select a {
      color:#FF2525;
  }