/*设置整个文本的样式 */
.jd_moblie {
    width: 100%;
    /*设置最大最小的宽来保证页面效果 */
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color:#eee;
}
/* 头部固定导航栏样式 start*/
.jd_header {
    width: 100%;
    max-width: 640px;
    height: 40px;
    position: fixed;
    background: rgba(233,35,34,0);
    z-index: 999;
}
/* 给form标签的宽度设为100%,然后根据左右padding值来给logo 和登录刘出显示空间 */
.jd_search {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
}
.jd_search::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    left: 80px;
    top: 8px;
    background: url(../images/jd-sprites.png) -56px -108px/200px 200px;
}
.jd_search>input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
    color: #666;

}
.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 5px;
    background:url(../images/jd-sprites.png) 0 -108px /200px 200px;


}
.jd_login {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}
/* 头部固定搜索框 over */
/* 轮播图部分 start */
.jd_banner {
    width: 100%;
    overflow: hidden;
   
    position: relative;
}
.jd_banner > ul {
    /* width:800%; */
    position: relative;
    /* 为了让它脱离文档流,但是还要站位所以用relative */

}
.jd_banner>ul li {
    /* width: 12.5%; */
    float: left;
}
.jd_banner>ul li img {
    width: 100%;
}
/* 图片小圆点 */
.jd_banner ol {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}
.jd_banner ol li {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #fff;
}
.jd_banner ol li:first-of-type {
    margin-left: 0;
}
.active {
    background: #fff;
}
/* 轮播图部分over */
/*快速导航栏部分 start */
.jd_nav {
    width: 100%;
    padding: 10px 0; 
    background: #fff;   
}
.jd_nav>ul>li {
float: left;
width: 25%;
text-align: center;
margin-top: 5px;
}
.jd_nav>ul>li img{
    width: 50%;
}
.jd_nav>ul>li p {
    padding: 5px 0;
}
/*快速导航栏部分 over */
/* 具体商品内容部分start */
    .jd_product {
        width: 100%;
        

    }
    /* 秒杀部分 */
    .seconds_kill {
        width: 100%;
        background: #fff;
    }
    .sk_title{
        line-height: 30px;

    }
    .sk_clock {
        width: 16px;
        height: 20px;
        background: url(../images/seckill-icon.png) 0 0 /16px 20px;
        margin-top: 3px
    }
  
    .sk_countDown > span{

        background-color: black;
        color: #fff;
        width: 15px;
        height: 15px;
        line-height: 15px;
        display: inline-block;
        margin-top: 10px;
        text-align: center;
        
    }
    .sk_countDown >span:nth-last-of-type(3n){
        background-color: #fff;
        color: black;
    }
  
    .sk_goods > li{
        width: 33.3%;
        float: left;
        text-align: center;
        padding:20px 0 ;
    }
    .sk_goods > li p {
        padding-top: 5px;
    }
     .sk_goods > li img{
        width: 60%;
     }
     /* 下面商品部分 */
     .pr_content {
         width: 100%;
         margin-top: 10px;
         background: #fff;
         position: relative;

     } 
     .content_top{
         width: 100%;
         line-height: 30px;
         color: #666;
         padding-left: 30px;
         border-bottom: 1px solid #ccc;
     }
     .content_top:before {
         content: "";
         width: 3px;
         height: 12px;
         position: absolute;
         background-color:#e92322;
         left: 15px;
         top: 10px;
     }
     .pr_good{
         width: 100%;
     }
     
     .l_good >li {
        float: left;
        width: 50%;
     }
     .l_good >li.fr{
         float: right;
     }
     .l_good>li:nth-child(2).border_r{
        border-right:1px solid #ccc;

     }
     .l_good>li:nth-child(3).border_r{
        border-right:1px solid #ccc;

     }
     .l_good>li:nth-child(2){
         border-left:1px solid #ccc;
         border-bottom:1px solid #ccc;
     }
     .l_good>li:nth-child(3){
        border-left:  1px solid #ccc;
    }
     .l_good img {
         width: 100%;
     }  
/* 具体商品内容部分over */


