html,
body {
  width: 100%;
  height: 100%;
}
.login_layout {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 640px;
  margin: 0 auto;
  position: relative;
}
.login_layout .lg_content {
  width: 100%;
  height: 100%;
}
.login_layout .lg_content img {
  z-index: -1;
  width: 100%;
  display: block;
}
.lg_count {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.lg_count > h1 {
  width: 100%;
  text-align: center;
  padding: 120px 0;
  color: #ffcf49;
  letter-spacing: 10px;
  font-weight: normal;
}
.lg_count > form {
  width: 100%;
}
.lg_count > form input {
  margin: 0 auto;
  display: block;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 8px 50px;
  line-height: 20px;
}
.lg_count > form input:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 60px;
}
.lg_count > form input:nth-child(5) {
  text-align: center;
  padding: 10px 16%;
  background-color: #ffcf49;
  border-radius: 10px;
  color: black;
}
