/* 移动端的宽高有个最大值和最小值 */

.youth_layout {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

/* 类容部分 */

.content {
    width: 100%;
    height: auto;
    background: url(../images/bg.png) no-repeat 0 0 / 100% auto;
    position: relative;
    max-width: 640px;
    min-width: 320px;
    perspective: 1000px;

}

div {
    overflow: hidden;
}

/*利用伪元素撑开盒子 */

.content::after {
    content: "";
    display: block;
    padding-top: 150%;
}

/* 音乐 */

.music,
.music2
 {
    position: absolute;
    right: 2%;
    top: 3%;
    width: 9%;
    background: url(../images/music_03.png) no-repeat 0 0 / 100% auto;
}
.music2
 {
    
    background: url(../images/music1_03.png) no-repeat 0 0 / 100% auto;
}
.audio::after {
    content: "";
    display: block;
    padding-top: 100%;
}
.music>img {
    width: 50%;
}

/* 动画进入图片 */

.rotate {
    transform-style: preserve-3d;
    width: 100%;
    position: absolute;
    left: 1%;
    top: 21%;
    text-align: center;
    transform: translate3d(-100%,-100%,-1200px) rotate3D(0,1,1,0) scale(0.2);
    transition: all 2s;
}

.rotate>img {
    width: 100%;
    z-index: -999;
}

/* 大标题 */

.bg_title {
    width: 100%;
    position: absolute;
    left: -30%;
    top: 21%;
    text-align: center;
    opacity: 0;
}

.bg_title>img {
    width: 90%;
}

/*小标题 */

.sm_title {
    width: 100%;
    position: absolute;
    left: 40%;
    top: 38%;
    text-align: center;
    opacity: 0;
}

.sm_title>img {
    width: 70%;
}

/* 文字内容 */

.paragrah {
    width: 0;
    position: absolute;
    right: -40%;
    top: 46%;
}

.paragrah>img {
    width: 50%;
}

/* 电影图标 */

.movie {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 60%;
}

.movie>img {
    width: 50%;
}

/* 底部跳动小图标 */

.bottom {
    width: 100%;
    position: absolute;
    left: 47%;
    bottom: 4%;
}

.bottom>img {
    width: 8%;
}

/* 动画模块 */

/* 页面底部跳动的小图标 */

.bottom {
    animation: upDown 2s linear infinite;
}

@keyframes upDown {
    50% {
        bottom: 8%;
    }
    100% {
        bottom: 4%;
    }
}
/* 旋转的音乐 */
.music {
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotateZ(360deg);
    }
}