/* 头部样式 */
.wjs_header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
}
.wjs_header .row {
  height: 100%;
}
.wjs_header .row .wjs_phone {
  height: 100%;
  position: relative;
  display: block;
}
.wjs_header .row .wjs_phone img {
  position: absolute;
  left: 50%;
  top: 49px;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}
.wjs_header .row .wjs_phone:hover {
  text-decoration: none;
}
.wjs_header .row .wjs_phone:hover img {
  display: block;
  z-index: 999;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:last-of-type > .btn-danger {
  background-color: #e92322;
  padding: 3px 15px;
}
.wjs_header .row > div:last-of-type > .btn-danger:hover {
  text-decoration: none;
}
.wjs_header .row > div:last-of-type > .btn-link {
  color: #333;
}
.wjs_header .row > div:last-of-type > .btn-link:hover {
  text-decoration: none;
}
/* 导航条样式 */
.navbar.wjs-nav {
  margin-bottom: 0;
}
.navbar.wjs-nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}
.navbar.wjs-nav .navbar-brand > span {
  font-size: 40px;
  color: #e92322;
}
.navbar.wjs-nav .navbar-brand > span:last-of-type {
  color: #333;
}
.navbar.wjs-nav .navbar-nav > li.active > a {
  border-bottom: 3px solid #e92322;
  background-color: #f8f8f8;
}
.navbar.wjs-nav .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
  font-size: 16px;
}
.navbar.wjs-nav .navbar-nav > li > a:hover {
  border-bottom: 3px solid #e92322;
}
/* 轮播图样式 */
.wjs_banner {
  /* 大于768的样式 */
}
.wjs_banner .pcImg {
  display: block;
  height: 410px;
  background-position: center center;
  background-size: cover;
}
.wjs_banner .moblieImg {
  display: block;
  width: 100%;
}
.wjs_banner .moblieImg img {
  width: 100%;
  display: block;
}
/* 微金所预定模块 */
.wjs_inf {
  padding: 30px;
}
.wjs_inf .row > div > a {
  width: 80%;
  margin-top: 20px;
  display: block;
}
.wjs_inf .row > div > a span {
  font-size: 30px;
}
.wjs_inf .row > div > a:hover {
  color: #e92322;
}
/* 微金所预定模块*/
.wjs_reserve {
  margin-top: 10px;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs_reserve .row .wjs_icon {
  font-size: 18px;
}
.wjs_reserve .row a:hover {
  color: #e92322;
}
.wjs_reserve .row .reserve_now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
/* 微金所产品模块 */
.wjs_product {
  background-color: #eee;
  padding: 20px;
}
.wjs_product .table_parent {
  overflow: hidden;
  width: 100%;
}
.wjs_product .table_parent > ul > li {
  margin-bottom: 0;
  padding: 0px 15px;
}
.wjs_product .table_parent > ul > li.active > a {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .table_parent > ul > li.active > a:hover,
.wjs_product .table_parent > ul > li.active > a:focus {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #e92322;
  border-radius: 0px;
}
.wjs_product .table_parent > ul > li > a {
  border: none;
  border-radius: 0px;
  line-height: 50px;
}
.wjs_product .table_parent > ul > li > a:hover,
.wjs_product .table_parent > ul > li > a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_product .tab-content .wjs_box {
  position: relative;
  margin-top: 20px;
  background-color: #fff;
}
.wjs_product .tab-content .wjs_box .tip_tool {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.wjs_product .tab-content .wjs_box .tip_tool span {
  padding: 2px 2px;
  border-radius: 0px;
  color: blue;
  border-color: blue;
}
.wjs_product .tab-content .wjs_box .tip_tool span:first-child {
  color: #e92322;
  border-color: #e92322;
}
.wjs_product .tab-content .wjs_box .tip_tool span:hover last-child {
  background-color: #fff;
  border-color: blue;
  color: blue;
}
.wjs_product .tab-content .wjs_box .tip_tool span:hover {
  background-color: #fff;
}
.wjs_product .tab-content .wjs_box.active {
  background-color: #e92322;
  color: #fff;
}
.wjs_product .tab-content .wjs_box.active .wjs_left:before {
  width: 25px;
  height: 25px;
  content: "\e915";
  font-family: "wjs";
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 25px;
}
.wjs_product .tab-content .wjs_box.active .wjs_right > b {
  color: #fff;
}
.wjs_product .tab-content .wjs_box .wjs_left {
  margin-right: 100px;
  padding-top: 10px;
  font-size: 12px;
}
.wjs_product .tab-content .wjs_box .wjs_left .row {
  margin-right: -10px;
  margin-left: -10px;
}
.wjs_product .tab-content .wjs_box .wjs_left .row > div:nth-of-type(even) {
  text-align: right;
}
.wjs_product .tab-content .wjs_box .wjs_left > p {
  text-align: center;
  font-size: 16px;
  width: 100%;
}
.wjs_product .tab-content .wjs_box .wjs_right {
  width: 100px;
  height: 150px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px dashed #ccc;
  text-align: center;
  padding-top: 30px;
}
.wjs_product .tab-content .wjs_box .wjs_right:before,
.wjs_product .tab-content .wjs_box .wjs_right:after {
  content: "";
  height: 10px;
  width: 10px;
  left: -5px;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
}
.wjs_product .tab-content .wjs_box .wjs_right::after {
  top: -5px;
}
.wjs_product .tab-content .wjs_box .wjs_right::before {
  bottom: -5px;
}
.wjs_product .tab-content .wjs_box .wjs_right > b {
  font-size: 40px;
  color: #e92322;
}
.wjs_product .tab-content .wjs_box .wjs_right > sub {
  bottom: 0;
}
/* 微金所新闻模块*/
.wjs_news {
  padding: 20px;
}
.wjs_news > .container > .row > div:first-of-type > h3 {
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.wjs_news > .container > .row > div:first-of-type > h3::after {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  right: -8px;
  bottom: -4px;
}
.wjs_news > .container > .row > div:nth-child(2) > .nav-tabs {
  border: none;
}
.wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li {
    width: 25%;
    margin: 20px 0;
    padding-left: 15px;
  }
}
.wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li.active > a {
  background-color: #e92322;
  border: 0;
}
.wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li > a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  border: 0;
}
.wjs_news > .container > .row > div:nth-child(2) > .nav-tabs > li > a > span {
  font-size: 30px;
  color: #fff;
}
.wjs_news > .container > .row > div:nth-child(3) > div > div:nth-child(1) > ul {
  list-style: none;
}
.wjs_news > .container > .row > div:nth-child(3) > div > div:nth-child(1) > ul > li {
  line-height: 60px;
}
/* 微金所底部模块 */
.wjs_foot {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.wjs_foot h3 {
  width: 100%;
  margin: 10px 0 20px;
}
.wjs_foot ul {
  list-style: none;
  display: inline-block;
}
.wjs_foot ul > li {
  float: left;
  margin-left: 20px;
}
.wjs_foot ul > li > a {
  font-size: 80px;
}
