/*
* @Author: Dreamer
* @Date: 2018-06-29 18:10:42
* @Last Modified by:   apple
* @Last Modified time: 2018-06-29 00:20:43
*/


/* 一些基本公用类样式,以及一些需要清除的样式 */
/* placeholder属性存在兼容性问题所以需要兼容处理注意换行有坑 */
input::-webkit-input-placeholder{  color:#666; font-size:14px; }
input:-moz-placeholder{  color:#666; font-size:14px;}
input::-moz-placeholder{  color:#666;font-size:14px; }
input:-ms-input-placeholder{  color:#666; font-size:14px; }
/* 清除一些标签默认自带的margin和padding值*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,ul,p,pre,td,textarea,th,ul,div,span{
    margin: 0;
    padding: 0;
    /* 移动端用得最多 设置盒模型 */
    box-sizing: border-box;
    /* 解决移动端特有的点击高亮效果 */
    -webkit-tap-highlight-color: transparent;
    
}

/* 设置整个文本的字体和字体大小 */
body {
    font-family: "微软雅黑", sans-serif;
    font-size: 13px;
}
/* 去除列表标签的默认样式 */
ul,ol {
    list-style: none;
}
/* 解决图片底部有空白间隙的问题 */
img {
    vertical-align: top;
    /* display:block; */
}
/* 解决input标签的边框颜色和轮廓 */
input {
    outline: none;
    /* 此处这样设置是因为移动端的input边框会变化直接设置相同就行 */
    border: 0;
    border: 1px solid #ccc;
}
/* 给所有的a标签移除样式 */
a,
a:hover{
    color: #666;
    text-decoration: none;
}
/*添加相同的样式 */
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.m_right {
    margin-right: 10px;
}
.m_left {
    margin-left: 10px;
}
.m_top {
    margin-top: 10px;
}
.m_bottom{
    margin-bottom: 10px;
}
/* 双微元素清除浮动方法 */
.clearfix::after,
.clearfix:before {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;

}