/*给ul添加样*/
* {
  margin: 0;
  padding: 0;
}
/* 定义一个边框的函数*/
ul {
  border-radius: 10px;
  list-style: none;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  flex-direction: column;
  margin: 5px 5px;
}
ul li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
ul:nth-child(2) {
  justify-content: space-around;
}
ul:nth-child(3) {
  justify-content: space-around;
}
ul:nth-child(3) li {
  margin: 5px;
}
ul:nth-child(3) li:nth-child(1) {
  align-self: flex-start;
}
ul:nth-child(3) li:nth-child(3) {
  align-self: flex-end;
}
ul:nth-child(4) {
  justify-content: space-around;
}
ul:nth-child(4) li {
  margin: 5px;
}
ul:nth-child(4) li:nth-child(1) {
  align-self: flex-end;
}
ul:nth-child(4) li:nth-child(3) {
  align-self: flex-start;
}
ul:nth-child(5) {
  justify-content: space-around;
  flex-wrap: wrap;
}
ul:nth-child(5) li {
  margin: 10px;
}
ul:nth-child(6) {
  justify-content: space-around;
  flex-wrap: wrap;
}
ul:nth-child(6) li:nth-child(3) {
  margin: 32px 0px;
}
ul:nth-child(7) {
  justify-content: space-around;
  flex-wrap: wrap;
}
ul:nth-child(7) li {
  margin: 6px;
}
